In [ ]:
import pandas as pd

import  numpy as np

#Object creation

In [12]:
#Creating a Series by passing a list of values

s = pd.Series([1,3,5,np.nan,6,8])

s

s[:3].values

s.index

RangeIndex(start=0, stop=6, step=1)

In [8]:
#Creating a DataFrame by passing a Numpy array

dates = pd.date_range('2019-08-01',periods=6)

print(dates)

DatetimeIndex(['2019-08-01', '2019-08-02', '2019-08-03', '2019-08-04',
               '2019-08-05', '2019-08-06'],
              dtype='datetime64[ns]', freq='D')

In [47]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-08-01</th>
      <td>-0.118227</td>
      <td>-0.432908</td>
      <td>0.894410</td>
      <td>0.220887</td>
    </tr>
    <tr>
      <th>2019-08-02</th>
      <td>0.794405</td>
      <td>0.691729</td>
      <td>0.022593</td>
      <td>-0.676335</td>
    </tr>
    <tr>
      <th>2019-08-03</th>
      <td>1.081920</td>
      <td>-1.098406</td>
      <td>0.432010</td>
      <td>-0.141035</td>
    </tr>
    <tr>
      <th>2019-08-04</th>
      <td>0.307171</td>
      <td>-0.715947</td>
      <td>-0.111983</td>
      <td>0.396901</td>
    </tr>
    <tr>
      <th>2019-08-05</th>
      <td>1.898982</td>
      <td>-0.655220</td>
      <td>-0.072289</td>
      <td>-0.147002</td>
    </tr>
    <tr>
      <th>2019-08-06</th>
      <td>0.561997</td>
      <td>0.763167</td>
      <td>0.234878</td>
      <td>1.063613</td>
    </tr>
  </tbody>
</table>
</div>

#Viewing data
See the Basics section.

Here is how to view the top and bottom rows of the frame:

In [33]:
#Create a DataFreme by passing a dict of objects

dic = {'A': 1.,
       'B': pd.Timestamp('20130102'),
       'C': pd.Series(1, index=list(range(4)), dtype='float32'),
       'D': np.array([3] * 4, dtype='int32'),
       'E': pd.Categorical(["test", "train", "test", "train"]),
       'F': 'foo'}

df2 = pd.DataFrame(dic)

df2
df2.dtypes
df2.head(2)
df2.tail(1)
df.index,df.columns

(DatetimeIndex(['2019-08-01', '2019-08-02', '2019-08-03', '2019-08-04',
                '2019-08-05', '2019-08-06'],
               dtype='datetime64[ns]', freq='D'),
 Index(['A', 'B', 'C', 'D'], dtype='object'))

In [38]:
#NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column.

#first for df,second,for df2

df.to_numpy(),df2.to_numpy()

(array([[-0.95092326, -2.50612337,  0.2351011 , -0.34296781],
        [ 0.30798906, -1.12911531,  1.02785136,  0.61249784],
        [-0.86263065,  0.71904744, -0.14389165,  0.29002972],
        [ 0.36192165,  1.43031187,  0.15082034, -1.6457973 ],
        [-0.38429179, -0.47860672, -0.05010046, -0.29023026],
        [ 0.3060088 ,  0.33202355,  1.22479378,  0.59459977]]),
 array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
        [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
        [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
        [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
       dtype=object))

In [46]:
#describe() shows a quick statistic summary of your data:

df.describe()   #描述性统计分析
df.T   #转置
df.sort_values(by='B',ascending=False)  #排序

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-08-06</th>
      <td>0.938762</td>
      <td>-0.241658</td>
      <td>1.824862</td>
      <td>-0.244101</td>
    </tr>
    <tr>
      <th>2019-08-05</th>
      <td>-0.126627</td>
      <td>-0.359939</td>
      <td>-0.578495</td>
      <td>1.061846</td>
    </tr>
    <tr>
      <th>2019-08-02</th>
      <td>1.600899</td>
      <td>-0.613406</td>
      <td>-0.247903</td>
      <td>-0.866910</td>
    </tr>
    <tr>
      <th>2019-08-01</th>
      <td>-0.270403</td>
      <td>-0.791456</td>
      <td>-1.344718</td>
      <td>2.180516</td>
    </tr>
    <tr>
      <th>2019-08-04</th>
      <td>-0.572960</td>
      <td>-0.902741</td>
      <td>1.638219</td>
      <td>0.305528</td>
    </tr>
    <tr>
      <th>2019-08-03</th>
      <td>-1.543372</td>
      <td>-0.970794</td>
      <td>-0.584801</td>
      <td>-0.103517</td>
    </tr>
  </tbody>
</table>
</div>

#Selection
Note While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc and .iloc.

In [51]:
#Geting

df['A']  #Selecting a single column, which yields a Series, equivalent to df.A:
df[0:3]  #Selecting via [], which slices the rows.
df['20190802':'20190804']

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-08-02</th>
      <td>0.794405</td>
      <td>0.691729</td>
      <td>0.022593</td>
      <td>-0.676335</td>
    </tr>
    <tr>
      <th>2019-08-03</th>
      <td>1.081920</td>
      <td>-1.098406</td>
      <td>0.432010</td>
      <td>-0.141035</td>
    </tr>
    <tr>
      <th>2019-08-04</th>
      <td>0.307171</td>
      <td>-0.715947</td>
      <td>-0.111983</td>
      <td>0.396901</td>
    </tr>
  </tbody>
</table>
</div>

In [73]:
#selection by label

df.loc[dates[0]]   #获取某一行的数据

df.loc[dates[0],['A','B']]  #获取某一行的多列数据

df.loc[:,'A']

df.loc[:,['A','C']]

df.loc['20190801':'20190803','A']

2019-08-01   -0.118227
2019-08-02    0.794405
2019-08-03    1.081920
Freq: D, Name: A, dtype: float64

In [83]:
#selection by position

df.iloc[3]  #取第四行的数据
df.iloc[0:2,0:2] #取0-1行，0-1列的数据
df.iloc[:,[0,3]] #取所有行，第一和第四列数据
df.iloc[0,0]  #取某一行某一列的数据

-0.11822736949028091

In [87]:
#Bool indexing

df[df.A>0]  #如果A列数据大于0，那么选出
df.A>0
df[df>0]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-08-01</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.894410</td>
      <td>0.220887</td>
    </tr>
    <tr>
      <th>2019-08-02</th>
      <td>0.794405</td>
      <td>0.691729</td>
      <td>0.022593</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019-08-03</th>
      <td>1.081920</td>
      <td>NaN</td>
      <td>0.432010</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019-08-04</th>
      <td>0.307171</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.396901</td>
    </tr>
    <tr>
      <th>2019-08-05</th>
      <td>1.898982</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019-08-06</th>
      <td>0.561997</td>
      <td>0.763167</td>
      <td>0.234878</td>
      <td>1.063613</td>
    </tr>
  </tbody>
</table>
</div>

In [88]:
#Using the isin() method for filtering"

df3 = df.copy()

df3['E'] = ['01','02','03','04','05','06']

df3[df3['E'].isin(['01','03'])]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-08-01</th>
      <td>-0.118227</td>
      <td>-0.432908</td>
      <td>0.89441</td>
      <td>0.220887</td>
      <td>01</td>
    </tr>
    <tr>
      <th>2019-08-03</th>
      <td>1.081920</td>
      <td>-1.098406</td>
      <td>0.43201</td>
      <td>-0.141035</td>
      <td>03</td>
    </tr>
  </tbody>
</table>
</div>

In [115]:
#Setting
#setting a new column automatically aligns the data by the index

s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20190801',periods=6))
s1
df3['F'] = s1
df3
#df3.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
      <th>F</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-08-01</th>
      <td>0.000000</td>
      <td>-0.432908</td>
      <td>0.894410</td>
      <td>30</td>
      <td>01</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2019-08-02</th>
      <td>0.794405</td>
      <td>0.691729</td>
      <td>0.022593</td>
      <td>30</td>
      <td>02</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2019-08-03</th>
      <td>1.081920</td>
      <td>-1.098406</td>
      <td>0.432010</td>
      <td>30</td>
      <td>03</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2019-08-04</th>
      <td>0.307171</td>
      <td>-0.715947</td>
      <td>-0.111983</td>
      <td>30</td>
      <td>04</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2019-08-05</th>
      <td>1.898982</td>
      <td>-0.655220</td>
      <td>-0.072289</td>
      <td>30</td>
      <td>05</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2019-08-06</th>
      <td>0.561997</td>
      <td>0.763167</td>
      <td>0.234878</td>
      <td>30</td>
      <td>06</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
</div>

In [123]:
#setting values by position
df3.at[dates[0],'A']= 0
df3.at[dates[0],'A']

#setting by assigning with Numpy array:
np.array([5]*len(df3))
df3.loc[:,'D'] = np.array([5]*len(df3))
df3.loc[:,'D']

2019-08-01    5
2019-08-02    5
2019-08-03    5
2019-08-04    5
2019-08-05    5
2019-08-06    5
Freq: D, Name: D, dtype: int32

#Missing data
pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations. See the Missing Data section.

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

In [137]:
df['D'] = np.random.randn(6,1)
df
df4 = df.reindex(index = dates[0:4],columns = list(df.columns) + ['E'])
df4.columns
df4.loc[dates[0]:dates[1],'E'] = 1
df4

#To drop any rows that have missing data.
df4.dropna(how= 'any')  #不改变df4的值

#Filling missing data.
df4.fillna(value = 6)

#To get the boolean mask where values are nan.
pd.isna(df4)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-08-01</th>
      <td>-0.118227</td>
      <td>-0.432908</td>
      <td>0.894410</td>
      <td>-1.138818</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2019-08-02</th>
      <td>0.794405</td>
      <td>0.691729</td>
      <td>0.022593</td>
      <td>0.029630</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2019-08-03</th>
      <td>1.081920</td>
      <td>-1.098406</td>
      <td>0.432010</td>
      <td>-1.267232</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019-08-04</th>
      <td>0.307171</td>
      <td>-0.715947</td>
      <td>-0.111983</td>
      <td>-0.007975</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

#Operations
See the Basic section on Binary Ops.

In [141]:
#stats
#Operation in general exclude missing data. Performing a descriptive statistic:

df4.mean()  #平均值，默认为列

df4.mean(1)  #求每行的值

2019-08-01    0.040891
2019-08-02    0.507672
2019-08-03   -0.212927
2019-08-04   -0.132184
Freq: D, dtype: float64

In [154]:
s3 = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)  #后移两位
s3
 
df4.sub(s3,axis='index')  #axis : {0 or ‘index’, 1 or ‘columns’} 0索引，1列
df4

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-08-01</th>
      <td>-0.118227</td>
      <td>-0.432908</td>
      <td>0.894410</td>
      <td>-1.138818</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2019-08-02</th>
      <td>0.794405</td>
      <td>0.691729</td>
      <td>0.022593</td>
      <td>0.029630</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2019-08-03</th>
      <td>1.081920</td>
      <td>-1.098406</td>
      <td>0.432010</td>
      <td>-1.267232</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019-08-04</th>
      <td>0.307171</td>
      <td>-0.715947</td>
      <td>-0.111983</td>
      <td>-0.007975</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [155]:
#Apply

#Apple functions to the data:

df4.apply(np.cumsum)  #默认按照行累加

df4.apply(lambda x:x.max() - x.min())

A    1.200148
B    1.790136
C    1.006393
D    1.296862
E    0.000000
dtype: float64

In [158]:
#Histogramming
#See more at Histogramming and Discretization.
s4 = pd.Series(np.random.randint(0,7,size = 10))
s4

s4.value_counts()

2    3
1    3
3    2
4    1
0    1
dtype: int64

In [162]:
#String Methods

s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

#Merge

#Grouping

#Time series