In [ ]:
import pandas as pd

import  numpy as np

#Object creation

In [12]:
#Creating a Series by passing a list of values

s = pd.Series([1,3,5,np.nan,6,8])

s

s[:3].values

s.index

RangeIndex(start=0, stop=6, step=1)

In [8]:
#Creating a DataFrame by passing a Numpy array

dates = pd.date_range('2019-08-01',periods=6)

print(dates)

DatetimeIndex(['2019-08-01', '2019-08-02', '2019-08-03', '2019-08-04',
               '2019-08-05', '2019-08-06'],
              dtype='datetime64[ns]', freq='D')

In [47]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-08-01</th>
      <td>-0.118227</td>
      <td>-0.432908</td>
      <td>0.894410</td>
      <td>0.220887</td>
    </tr>
    <tr>
      <th>2019-08-02</th>
      <td>0.794405</td>
      <td>0.691729</td>
      <td>0.022593</td>
      <td>-0.676335</td>
    </tr>
    <tr>
      <th>2019-08-03</th>
      <td>1.081920</td>
      <td>-1.098406</td>
      <td>0.432010</td>
      <td>-0.141035</td>
    </tr>
    <tr>
      <th>2019-08-04</th>
      <td>0.307171</td>
      <td>-0.715947</td>
      <td>-0.111983</td>
      <td>0.396901</td>
    </tr>
    <tr>
      <th>2019-08-05</th>
      <td>1.898982</td>
      <td>-0.655220</td>
      <td>-0.072289</td>
      <td>-0.147002</td>
    </tr>
    <tr>
      <th>2019-08-06</th>
      <td>0.561997</td>
      <td>0.763167</td>
      <td>0.234878</td>
      <td>1.063613</td>
    </tr>
  </tbody>
</table>
</div>

#Viewing data
See the Basics section.

Here is how to view the top and bottom rows of the frame:

In [33]:
#Create a DataFreme by passing a dict of objects

dic = {'A': 1.,
       'B': pd.Timestamp('20130102'),
       'C': pd.Series(1, index=list(range(4)), dtype='float32'),
       'D': np.array([3] * 4, dtype='int32'),
       'E': pd.Categorical(["test", "train", "test", "train"]),
       'F': 'foo'}

df2 = pd.DataFrame(dic)

df2
df2.dtypes
df2.head(2)
df2.tail(1)
df.index,df.columns

(DatetimeIndex(['2019-08-01', '2019-08-02', '2019-08-03', '2019-08-04',
                '2019-08-05', '2019-08-06'],
               dtype='datetime64[ns]', freq='D'),
 Index(['A', 'B', 'C', 'D'], dtype='object'))

In [38]:
#NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column.

#first for df,second,for df2

df.to_numpy(),df2.to_numpy()

(array([[-0.95092326, -2.50612337,  0.2351011 , -0.34296781],
        [ 0.30798906, -1.12911531,  1.02785136,  0.61249784],
        [-0.86263065,  0.71904744, -0.14389165,  0.29002972],
        [ 0.36192165,  1.43031187,  0.15082034, -1.6457973 ],
        [-0.38429179, -0.47860672, -0.05010046, -0.29023026],
        [ 0.3060088 ,  0.33202355,  1.22479378,  0.59459977]]),
 array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
        [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
        [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
        [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
       dtype=object))

In [46]:
#describe() shows a quick statistic summary of your data:

df.describe()   #描述性统计分析
df.T   #转置
df.sort_values(by='B',ascending=False)  #排序

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-08-06</th>
      <td>0.938762</td>
      <td>-0.241658</td>
      <td>1.824862</td>
      <td>-0.244101</td>
    </tr>
    <tr>
      <th>2019-08-05</th>
      <td>-0.126627</td>
      <td>-0.359939</td>
      <td>-0.578495</td>
      <td>1.061846</td>
    </tr>
    <tr>
      <th>2019-08-02</th>
      <td>1.600899</td>
      <td>-0.613406</td>
      <td>-0.247903</td>
      <td>-0.866910</td>
    </tr>
    <tr>
      <th>2019-08-01</th>
      <td>-0.270403</td>
      <td>-0.791456</td>
      <td>-1.344718</td>
      <td>2.180516</td>
    </tr>
    <tr>
      <th>2019-08-04</th>
      <td>-0.572960</td>
      <td>-0.902741</td>
      <td>1.638219</td>
      <td>0.305528</td>
    </tr>
    <tr>
      <th>2019-08-03</th>
      <td>-1.543372</td>
      <td>-0.970794</td>
      <td>-0.584801</td>
      <td>-0.103517</td>
    </tr>
  </tbody>
</table>
</div>

#Selection
Note While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc and .iloc.